<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @promotion_type.name %>
</p>


<%= link_to 'Edit', edit_promotion_type_path(@promotion_type) %> |
<%= link_to 'Back', promotion_types_path %>
